version: '3'
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - '6500:5432'
    volumes:
      - progresDB:/data/postgres
    env_file:
      - .env
  api:
    build: .
    ports:
      - "8080"
    volumes:
      - .:/app
    env_file:
      - .env
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - api
volumes:
  progresDB: